
.btn-home:hover{
	-fx-background-color:"#0077FF" ;
}
.btn-home{
	-fx-background-color: "#0756B0";
	-fx-border-radius: 30px;
}
#insertbn{
	-fx-background-color: "#0052ff";
}
.curent-Btn{
	-fx-background-color: "#0052ff";
}
.inser_item:hover{
	-fx-background-color:"#0077ff" ;
		
}


.btn-cercle{
	-fx-background-color: transparent ;
	-fx-background-radius: 100%;
	-fx-border-radius: 100%;
	-fx-border-color: "#fff";
	-fx-border-width: 5px;


}